<!DOCTYPE html>
<html>
<head>
    <title>Recipe Planner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main">
    <h1>Recipe Planner</h1>
    <p class="subtitle">Save recipes and plan your weekly & monthly meals</p>

    <div class="cards">
        <a href="/add_recipe" class="card">Add Recipe</a>
        <a href="/recipes" class="card">View Recipes</a>
        <a href="/add_schedule" class="card">Add Schedule</a>
        <a href="/schedule" class="card">View Schedule</a>
    </div>
</div>

</body>
</html>